/* Estilo General */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

/* Encabezado Hero */
.hero {
    background-image: url('https://via.placeholder.com/1200x500.png?text=Imagen+de+Granja');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: inline-block;
}

.cta-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

/* Sección de Cuadrícula de Información */
.info-grid {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-item {
    flex: 1;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: #e9f5e9;
}

/* Sección de Testimonios */
.testimonials {
    background-color: #fff;
    padding: 40px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

/* Sección de Contacto */
.contact {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Pie de Página */
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}
